.carousel-img {
    width: 1600px;
    height: 600px;
}

.carousel-caption {
    background-color: rgb(249, 255, 141);
    color: black;
    padding: 2.5px;
    border: 2px solid black; 
}

.album-img1{
    max-width: 100%;
    height: auto;
    width: 348px;
    height: 265px;
}

/* referencing my flask about page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* about section */

.about{
  display: flex;
  background: url('/static/about.jpg');
  height: 100vh;
  color: rgb(0, 0, 0);
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}


.about .max-width{
  margin: auto 0 auto 0px;
}

.about .about-content .text-1{
  font-size: 1em;  
}
.about .about-content .text-2{
  /* font-size: 75px; */
  font-size: 3em;
  font-weight: 600;
  margin-left: -3px;
}
.about .about-content .text-3{
  /* font-size: 40px; */
  font-size: 1.7em;
  margin: 5px 0;
}

.shonen-img{
  width: 1505px;
  height: 500px;
}