{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}

<div class = "container-fluid px-0">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="static/naruto.jpg" class="d-block carousel-img" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>A diverse collection of anime!</h5>
                <p>All in one place</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/bleach.jpg" class="d-block carousel-img" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>A diverse collection of anime!</h5>
                <p>All in one place</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/aot.jpg" class="d-block carousel-img" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>A diverse collection of anime!</h5>
                <p>All in one place</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
</div>

  <div class="container my-3">
    <h1 class="my-4 text-center">Here are some of my featured anime!</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
            <img src="static/1.jpg" class="d-block album-img1" alt="...">
                
                <div class="card-body">
                  <b>Naruto Shipuuden (IMDb - 8.7)</b>
                  <p class="card-text">Naruto Uzumaki, is a loud, hyperactive, adolescent ninja who constantly searches for approval and recognition, as well as to become Hokage, who is acknowledged as the leader and strongest of all ninja in the village.</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/2.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                  <b>Bleach TYBW (IMDb - 9.0)</b>
                  <p class="card-text">The peace is suddenly broken when warning sirens blare through the Soul Society. Residents are disappearing without a trace and nobody knows who's behind it. Meanwhile, a darkness is approaching Ichigo and his friends in Karakura Town.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/3.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                  <b>Sword Art Online (IMDb - 7.5)</b>
                  <p class="card-text">In the year 2022, thousands of people get trapped in a new virtual MMORPG and the lone wolf player, Kirito, works to escape.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <img src="static/4.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                  <b>Attack on titan (IMDb - 9.0)</b>
                  <p class="card-text">After his hometown is destroyed and his mother is killed, young Eren Jaeger vows to cleanse the earth of the giant humanoid Titans that have brought humanity to the brink of extinction.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/5.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                  <b>Attack on titan (IMDb - 8.4)</b>
                  <p class="card-text">High school soccer players from across Japan gather for a controversial project designed to create the best and most egoistic striker in the world.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/6.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                  <b>One piece (IMDb - 8.9)</b>
                  <p class="card-text">Follows the adventures of Monkey D. Luffy and his pirate crew in order to find the greatest treasure ever left by the legendary Pirate, Gold Roger. The famous mystery treasure named "One Piece".</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
{% endblock body %}
