{% extends 'base.html' %}
{% block title %} Isekai {% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="static/isekai.jpg" class="d-block shonen-img" alt="...">
</div>

  <div class="container my-3">
    <h1 class="my-4 text-center">For those who want to be Isekai'd by truck-kun</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
            <img src="static/rezero.jpg" class="d-block album-img1" alt="...">
                
                <div class="card-body">
                  <b>Re: Zero (IMDb - 8.1)</b>                 
                  <p class="card-text">After being suddenly transported to another world, Subaru Natsuki and his new female partner are brutally murdered. However, Subaru awakens to a familiar scene, meeting the same girl again. The day begins to mysteriously repeat itself.</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/mushoku.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                  <b>Mushoku Tensei: Jobless Reincarnation (IMDb - 8.4)</b>  
                  <p class="card-text">A 34-year-old Japanese NEET is run over by a speeding truck and dies. Before he knows it, he is reborn as Rudeus Greyrat, and begins a new life full of adventure.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/slime.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                    <b>That time I got reincarnated as a slime (IMDb - 8.1)</b>
                  <p class="card-text">Average 37-year-old Minami Satoru dies and is reincarnated as the most unremarkable creature imaginable-a slime.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
{% endblock body %}