{% extends 'base.html' %}
{% block title %} Shojo {% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="static/shojo.jpg" class="d-block shonen-img" alt="...">
</div>

  <div class="container my-3">
    <h1 class="my-4 text-center">For the shojo lovers out there!</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
            <img src="static/horimiya.jpg" class="d-block album-img1" alt="...">
                
                <div class="card-body">
                  <b>Horimiya (IMDb - 8.1)</b>                 
                  <p class="card-text">Two very different people - an academically successful schoolgirl and a quiet loser schoolboy - meet and develop a friendship.</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/violetevergarden.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                  <b>Violet Evergarden (IMDb - 8.4)</b>  
                  <p class="card-text">In the aftermath of a great war, Violet Evergarden, a young female ex-soldier, gets a job at a writers' agency and goes on assignments to create letters that can connect people.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/dressup.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                    <b>My Dressup Darling (IMDb - 8.1)</b>
                  <p class="card-text">Traumatized by a childhood incident with a friend who took exception to his love of traditional dolls, doll-artisan hopeful Wakana Gojou passes his days as a loner, finding solace in a room at his high school.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/blue.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                    <b>Blue Spring Ride (IMDb - 7.5)</b>
                  <p class="card-text">Revolves around Futaba, a girl who was in love with a boy named Ko Tanaka in middle school. However, it did not work because he transferred but in high school, her world is turned around once again when she meets him again.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
{% endblock body %}