{% extends 'base.html' %}
{% block title %} Shonen {% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="static/shonen.jpg" class="d-block shonen-img" alt="...">
</div>

  <div class="container my-3">
    <h1 class="my-4 text-center">For the shounen lovers out there:</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
            <img src="static/yuyuhakusho.jpg" class="d-block album-img1" alt="...">
                
                <div class="card-body">
                  <b>YuYu Hakusho (IMDb - 8.5)</b>                 
                  <p class="card-text">YuYu Hakusho is shonen anime distilled down to its very best: A cast of impossibly cool tough guys duking it out with awesome, terrifying villains.</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/demonslayer.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                  <b>Demon Slayer (IMDb - 8.7)</b>  
                  <p class="card-text">Demon Slayer is considered one of shonen's new "big three," alongside My Hero Academia and Jujutsu Kaisen. The series doesn't reinvent the wheel, but it's one of the most unique titles shonen has to offer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/deathnote.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                    <b>Death Note (IMDb - 9)</b>
                  <p class="card-text">For many people, Death Note is their first taste of anime. While it isn't a battle shonen, it's still one of the genre's most enticing titles.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <img src="static/jujutsukaisen.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                    <b>Jujutsu Kaisen (IMDb - 8.5)</b>
                  <p class="card-text">Not only does Jujutsu Kaisen have an extensive cast full of lovable characters, but it's full of unique fight scenes that are revolutionary by shonen standards.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/classroom.jpg" class="d-block album-img1" alt="...">
                <div class="card-body">
                    <b>Assassination Classroom (IMDb - 8.0)</b>
                  <p class="card-text">Class 3-E had little to no chance of improving their grades until Koro-sensei came along. He's an eccentric monster who resembles a big yellow octopus and Class 3-E must successfully assassinate him before he destroys the planet.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
{% endblock body %}